@import vars

#home-page
  .home_box
    // background: white
    // -webkit-box-shadow: 1px 1px 2px 0px rgba(30, 30, 30, 0.75)
    // -moz-box-shadow: 1px 1px 2px 0px rgba(30, 30, 30, 0.75)
    // box-shadow: 1px 1px 2px 0px rgba(30, 30, 30, 0.75)
    h2
      font-size: 250%
      margin-top: 0
      color: rgba(170,10,10,1)
    a
      text-decoration: none
      color: inherit
      &:hover
        color: #8F8F8F
    .details
      font-size: 80%
    .blog_post
      border-bottom: solid thin gray
      padding: 5px
      &:hover
        background-color: rgba(0,0,0,0.1)
      &:last-child
        border-bottom: none
  .home_box.side
    float: right
    width: 38%
    padding: 5px
  .home_box.main
    width: 60%
    padding: 5px 50px 5px 5px
    margin-bottom: 10px
